/* body {
    font-family: 'Roboto', 'sans-serif';
    color: var(--font-main);
    margin: 0;
}
:root {
    --background-color: #2F303A;
    --font-main: #212121;
    --font-main-light: #757575;
    --background-light: #F5F4FA;
    --foter-nomber: rgba(255, 255, 255, 0.6);
    --font-secondary: #fff;
    --hover-blue: #2196F3;
    --hover-blue-light: #188CE8;
    --shadow: rgba(0, 0, 0, 0.25);
    --border: #ECECEC;
    --social-main: #AFB1B8;
    --socian-btn-bg: rgba(255, 255, 255, 0.1);
    --bg-kind: rgba(47, 48, 58, 0.8);
    --bg-product-item: rgba(33, 150, 243, 0.9);
} */
/* scrollbar */
/* ::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: var(--background-light);
}
::-webkit-scrollbar-thumb {
    background: var(--hover-blue);
} */
/* selection */
/* h1::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
h2::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
h3::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
p::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
a::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
}
span::selection {
    background-color: var(--hover-blue);
    color: var(--font-secondary);
} */
/* section title */
/* .section-title {
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
    color: var(--font-main);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
} */
/* extra */
/* .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.colums {
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 0;
}
a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}

li {
    list-style-type: none;
}
.button {
    border: none;
    background-color: var(--hover-blue);
    border-radius: 4px;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus {
    background-color: var(--hover-blue-light);
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pading-bottom {
    padding-bottom: 0;
}
extra end */

/* нав бар */

/* .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts {
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav_bg {
    background-color: var(--font-secondary);
    border-bottom: 1px solid var(--border);
}
.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navbar_text {
    margin-left: 93px;
    display: flex;
    gap: 50px;
}
.nav_text {
    position: relative;
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--font-main);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .contacts_nom {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: var(--font-main-light);
    color: var(--font-main-light);

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .contact_icon {
    display: inline-block;
    margin-right: 10px;
} */
/* .contacts_nom:hover,
.contacts_nom:focus {
    fill: var(--hover-blue);
    color: var(--hover-blue);
} */
/* .active,
.nav_text:hover,
.nav_text:focus {
    color: var(--hover-blue);
} */
/* .nav_text:active,
.contacts_nom:active {
    color: var(--hover-blue-light);
} */
/* .active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-blue);  
} */
/* герой */
/* .hero {
    text-align: center;
} */
/* .hero-bg {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background: var(--background-color);
    background-image:
    linear-gradient(rgba(47,48,58,0.4),
    rgba(47,48,58,0.4)),
    url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-width: 1600px;
} */
/* .hero-title {
    margin: 0;
    width: 696px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: var(--font-secondary);
    letter-spacing: 0.06em;
    text-shadow: 0px 4px 4px var(--shadow);
    margin: 0 auto;
} */
/* .hero-btn {
    margin-top: 30px;
    padding: 10px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--font-secondary);
} */

/* особенности */
/* .feature {
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: row;
}
.feature-info {
    width: calc((100% - 30px) / 4);
    padding: 0;
}
.feature-info__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin: 0 0 30px 0;
    border-radius: 4px;
    background-color: var(--background-light);
}
.feature-info__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    margin: 0;
    color:var(--font-main);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature-info__subtitle {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--font-main-light);
} */
/* type of work */
/* .kind {
    display: flex;
    width: 100%;
    gap: 30px;
}
.kind-box {
    position: relative;
    width: calc((100% - 60px) / 3);
}
.kind-box__img {
    display: block;
}
.kind-box__title {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    padding: 27px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--font-secondary);
    background-color: var(--bg-kind);
} */

/* команда */
/* .bg_collor_team {
    background: var(--background-light);
}
.gap_30 {
    gap: 30px;
}
.cardlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.card {
    width: calc((100% - 90px) / 4);
    display: flex;
    flex-direction: column;
    background: var(--font-secondary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: none;
}
.card-description {
    padding: 30px 10px 30px 10px;
}
.card-img {
    display: block;
}
.card_name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--font-main);
}
.card_info {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--font-main-light);
    margin-bottom: 16px;
    
} */
/* ccилки на мережі */
/* .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.social_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    fill: var(--social-main);
    border-radius: 50%;
    
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social_btn:hover,
.social_btn:focus {
    background-color: var(--hover-blue);
    fill: var(--font-secondary);
} */
/* social footer */
/* .social_btn_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--font-secondary);
    background-color: var(--socian-btn-bg);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social_btn_footer:hover,
.social_btn_footer:focus {
    background-color: var(--hover-blue);
} */
/* підвал */
/* .bg_footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--background-color);
}
.baseline {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.address {
    display: block;
    font-style: normal;
    margin-top: 20px;
}
.address-title {
    margin-bottom: 9px;
}
.address-title:last-child {
    margin-bottom: 0;
}
.adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--font-secondary);
}
.nomber {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--foter-nomber);
}
.connect {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--font-secondary);
} */
/* кнопки портфоліо */
/* .pbuttons {
    background: var(--background-light);
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    cursor: pointer;

    transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .btn-li {
    gap: 8px;
    margin-bottom: 50px;
} */
/* .pbuttons:hover,
.pbuttons:focus  {
    background: var(--hover-blue);
    color: var(--font-secondary);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--font-main);
} */
/* партнери */
/* .parthners {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.parthners-group {
    width: calc((100% - 150px) / 6);
}
.parthners-group__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    fill: var(--social-main);
    border: 1px solid var(--social-main);

    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.parthners-group__item:hover,
.parthners-group__item:focus {
    border: 1px solid var(--hover-blue);
    fill: var(--hover-blue);
} */
/* сетка портфоліо */
/* .grid {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
} */
/* .grid-item {
    overflow: hidden;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .product:hover,
.product:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px 
    rgba(0, 0, 0, 0.12), 
    0px 4px 4px 
    rgba(0, 0, 0, 0.06), 
    1px 4px 6px 
    rgba(0, 0, 0, 0.16);
} */
/* .product:hover .product-img__title,
.product:focus .product-img__title {
    transform: translateY(-100%);
    opacity: 1;
} */
/* .products {
    margin: -15px;
} */
/* .product {
    overflow: hidden;
    display: block  ;
    margin: 15px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .border {
    padding: 20px 24px;
    background: var(--font-secondary);
    border: 1px solid var(--border);
    border-top: none;
} */
/* .product-img {
    display: block;
    width: 370px;
} */
/* .product-item {
    position: relative;
    overflow: hidden;

    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .product-img__title {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 24px;
    height: 100%;
    opacity: 0;
    transform: translateY(0);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    background-color: var(--bg-product-item);
    color: var(--font-secondary);
    pointer-events: none;

    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .product-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--font-main);
    margin-bottom: 4px;
} */
/* .product-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--font-main-light);
} */
/* .button:hover {
    background: var(--hover-blue-light);
} */
/* -----форма футер------- */
/* .footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
} */
/* .footer-form__input {
    border: none;
    padding: 15px 16px;
    height: 50px;
    width: 358px;
    color: var(--font-secondary);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 10px;
} */
/* .footer-form__input textarea::placeholder {
    color: var(--font-main-light);
}
.footer-form__input:placeholder-shown {
    background-color: transparent;
} */
/* .footer-form__btn {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--font-secondary);
    padding: 10px 29px;
} */
/* .footer-form__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
} */
/* модельне вікно */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .modal-window {
    position: relative;
    z-index: 10;
    width: 528px;
    border-radius: 5px;
    transform: scale(1);
    background-color: var(--font-secondary);
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);


    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .is-hidden .modal-window {
    transform: scale(0);
} */

/* .btn-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    fill: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: none;
    cursor: pointer;
}
.btn-close svg {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .btn-close:hover svg,
.btn-close:focus svg  {
    fill: var(--hover-blue);
} */
/* .modal.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
} */
/* -----------Форма модельного вікна----- */
/* .form-title {
    margin-top: 0;
    margin-bottom: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-main);
} */
/* .form-field {
    display: block;
    position: relative;
    flex-direction: column;
    margin-bottom: 27px;
} */
/* .form-field__input {
    width: 100%;
    height: 40px;
    padding: 4px 10px 4px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition-property: border,color,fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .form-field__label {
    position: absolute;
    top: -17px;
    left: 0;
    display: inline-block;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: var(--font-main-light);
}
.form-field input,
.form-textarea textarea {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--font-main);
    cursor: pointer;
} */
/* .form-field input:focus,
.form-textarea textarea:focus {
    cursor: auto;
} */
/* .form-textarea textarea {
    resize: none;
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
} */
/* .form-textarea textarea::placeholder {
    color: var(--social-main);
} */
/* .form-textarea {
    position: relative;
    height: 120px;
} */
/* --------------submit----------------- */
/* .form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--font-main-light);
} */
/* .checkbox-policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--hover-blue);
    margin-left: 5px;
} */
/* .form-submit__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px 57px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--font-secondary);
} */
/* .form-submit__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
} */
/* іконки форми */
/* .form-field div {
    position: relative;
} */
/* .form-field svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition-property:  fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .checkbox {
    position: relative;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    top: 0;
    left: 0;
    transform: translate(-50% -50%);
    margin-right: 26px;
} */
/* .form-submit_label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    height: 21px;
} */
/* .checkbox-check {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transform: scale(2);

    transition-property:  opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .checkbox-box {
    position: absolute;
    z-index: 0;
    opacity: 1;
    transform: scale(1);

    transition-property:  opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .checkbox:checked + .checkbox-check {
    opacity: 1;
    transform: scale(1);
} */
/* .checkbox:checked ~ .checkbox-box {
    opacity: 0;
    transform: rotate(180deg) scale(2);
} */
/* ховери форми */
/* .form-field:hover svg,
.form-field:hover .form-field__input {
    border-color: var(--hover-blue);
    fill: var(--hover-blue);
} */
/* .form-field__input:focus,
.form-field__input:focus ~ svg {
    fill: var(--hover-blue);
    border-color: var(--hover-blue);
} */
/* .checkbox:focus ~ .checkbox-box {
    fill: var(--hover-blue);
} */
/* .form-textarea textarea:focus,
.form-textarea textarea:hover {
    border-color: var(--hover-blue);
} */
/* фільтр портфоліо */
/* .current {
    background: var(--hover-blue);
    color: var(--font-secondary);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
} */
/* .web {

}
.all {

}
.app {

}
.design {

}
.market {

}
.anime {
    transform: scale(0);
    opacity: 0;
}
.hide {
    position: inherit;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes hide {
    0% {
        visibility: visible;
        height: auto;
    }
    100% {
        display: none;
        width: 0;
        height: 0;
        max-width: 0;
        font-size: 0;
        margin: -1px;
        padding: 0;
    }
} */
