body {
    background: linear-gradient(
        to right,
        #E714FA,
        #FF3D14, 
        #FFEE00
    );
    background-size: 400% 400%;
    animation:
     bg-body 10s infinite ease-in-out;

}
.ty {
    margin-top: 94px;
}
.transparent {
    padding: 40px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@keyframes bg-body {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.feature-info__subtitle {
    color: white;
    text-shadow: 0px 4px 4px var(--shadow);
}
.policy-ty {
    display: inline-block;
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 1.166;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
    color: var(--font-secondary);
    position: relative;
    overflow: hidden;
}
.modal-window {
    width: 1600px;
    height: 100%;
    background-color: black;

}
.btn-close {
    top: 20px;
    right: 20px;
    background-color: white;
}
.warning { 
    color: red;
    font-weight: 900;
    font-size: 170px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.warning-title {
    margin-top: 30px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.warning-title1 {
    margin-top: 30px;
    color: white;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.warning-title2 {
    margin-top: 30px;
    color: white;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}